<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create room</title>
</head>
<body>
    <form action="/create" method="post">
        <input type="text" required name="name" placeholder="Name">
        <input type="text" required name="roomname" placeholder="Roomname" >
        <input type="textarea" name="topics" placeholder="Topics separeted by comma" required>
        <input type="text" style="display: none;" name="roomid" value="<%= "ID" + crypto.randomBytes(8).toString('hex') %>">
        <button>create</button>
    </form>
</body>
</html>