<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>sender.org</title>
	<link href="style.css" rel="stylesheet">
	<script src="axios/axios.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<div class="container">
	<div class="chat">
		<div class="chat-header"><h1>Public Room</h1></div>
		<div class="message-display">
			<div class="recived-message message">
				<span class="box"></span>
				<span>Hi butt butt</span>
			</div>
			<div class="sent-message message">
				<div class="box"></div>
				<span>Mm bye</span>
			</div>
		</div>
		<div class="message-form">
			<label for="message"></label><input name="message" class="message-input"  />
			<button class="send-button">send</button>
		</div>
	</div>
</div>
		<script src="script.js"></script>
</body>
</html>
