<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>sender.org</title>
	<link href="indexStyle.css" rel="stylesheet">
	<script src="axios/axios.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div class="header">
		<h1>rooms list</h1>
	</div>
	<div class="container-index">
      <ol class="rooms-list">
			<% for( i in room){ %>
				<li class="room-name"><%= room[i] %></li>
			<%}%>
      </ol>
      <form action="/room" class="form-index"><p>
         <input type="text" class="room-input" name="roomname" placeholder="ROOM NAME" required autocomplete="off">
			<input type="text" class="name" name="name" placeholder="NAME" required autocomplete="off"></p>
         <button class="btn-index">join</button>
      </form>
	</div>
		<script src="mainScript.js"></script>
</body></html>
