<!doctype html>
<html>
<head>
	<title>sender.org</title>
	<meta charset="utf-8">
	<link herf="style.css" rel="stylesheet" type="text/css">
	<script src="axios/axios.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div class="container">
		<div class="chat">
			<div class="chat-header">header</div>
			<div class="message-display">
				<p class="message-in">hello</p>
				<p class="message-out">Mm bye</p>
				chat display
			</div>
			<div class="message-form" >
				<input name="message" class="message-input"  />
				<button class="form-button">send</button>
			</div>
		</div>
	</div>
	
		<script src="script.js"></script>

	
</body>
</html>