<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Room</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            font-size: 18px;
            font-family: sans-serif;
        }

        .container{
            width: 100vw;
            height: 100vh;
            max-width: 350px;
            max-height: 30rem;
            background-color: rgb(195, 197, 197);
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3rem;
        }
        form{
            width: 100%;
            height: 90%;
            /* background-color: blueviolet; */
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }

        form h1{
            font-size: 2rem;

        }
        input{
            width: 90%;
            height: 2rem;
            outline: none;
            border: none;
            border-radius: 5px;
            padding:0 5px ;
        }

        textarea{
            width: 90%;
            resize: none;
            border-radius: 5px;
            padding: 6px;
            overflow: scroll;
            overflow-x: hidden;
            border: none;
            outline: none;
        }
        button{
            width: 90%;
            height: 2rem;
            border: none;
            outline: none;
            border-radius: 5px;
        }
        button:hover{
            cursor: pointer;
            background-color: rgb(223, 240, 255);
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/room" >
            <h1>Join Room</h1>
            <hr size="1" style="width:80%; margin: auto;" color="black">
            <input class="name-input" type="text" id="name-id" required name="name" placeholder="Name">
            <input class="roomname-input" type="text" required name="roomname" readonly value="<%= roominfo.roomname %>"  >
            <textarea readonly required class="topics-input" cols="30" rows="10" >
                <%= roominfo.topics %>
            </textarea>
            <input type="text" style="display: none;" value ="<%= roomid %>" readonly name="roomid">
            <button>Join</button>
        </form>
    </div>
</body>
</html>

