<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join <%= roominfo.roomname %></title>
</head>
<body>
    <h1><%= roominfo.roomname %></h1>
    <form action="/room">
        <label for="name">Name</label>
        <input type="text" name="name" id="name-id">
        <label for="roomid">Room id</label>
        <input type="text" name="roomid" value="<%= roomid %>" readonly="readonly">
        <input type="text" name="roomname" value="<%= roominfo.roomname %>" readonly="readonly">
        <button type="submit">Join</button>
    </form>
</body>
</html>