<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="./style.css">
	<script src="/axios/axios.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/helperForChatRoom.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="room-title chat-header">
                <h1>Loading...</h1>
            </div>
            <div class="menu-icon">
                <img class="menu-icon-in" src="./icons8-menu-50.svg" alt="">
                <div class="menu">
                    <button>CopyLink</button>
                    <p>Discription Budies</p>
                </div>
            </div>
        </div>
        <div class="msg-wrap">
            <div class="chat-box-wrap-wrap">
                <div class="chat-box-wrap message-display">
                    <div class="chat-card-wrap">
                        <div class="chat-card-name">Mike :</div>
                        <div class="chat-card-msg">Hello Mate</div>
                    </div>
                </div>
            </div>
            <div class="chat-input-wrap">
                <input placeholder="Type Something..." name="message"  autocomplete="off" class="chat-input room-input message-input" type="message">
                <button class="msg-send-btn btn-index send-button" >Send</button>
            </div>
            </div>
        </div>
    <script src="/chatHanler.js"></script>
</body>
</html>
