*{
  margin:0;
  padding: 0;
  font-size: 7vw;
  font-family: sans-serif;
}

.container-index{
  width: 100vw;
  margin:0 auto;
  margin-top: 11vw;
  min-height:50vh;
}

.header{
   height: 11vw;
   width: 100vw;
   background-color: #0a90ff;
   color: #b0ffff;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 10px 0 .5em black;
   position: fixed;
   top: 0;
}
.header h1{
   font-size: 10vw;
}
.message-display{
   overflow-y: scroll;
   height: 80%;
}

.sent-message{
   background: #b0ffff;
   color: #0a90ff;
   display: flex;
   text-align: right;
   transition: .7s;
   margin-top: .3rem;
   margin-bottom: .3rem;
   flex-direction:row-reverse;
   float: right;
   width: 70%;
}
.sent-message span{
   margin-right: 0px;
}
.sent-message .box{
   display: block;
   float: right;
   border-left: 20px solid #b0ffff;
   border-bottom: 20px solid white;
   border-top: 20px solid white;
}
.recived-message{
   background: #b0ffff;
   color: #0a90ff;
   display: flex;
   transition: .6s;
   margin-top: .3rem;
   margin-bottom: .3rem;
   width: 70%;
}
.recived-message .box{
   border-right: 20px solid #b0ffff;
   border-bottom: 20px solid white;
   border-top: 20px solid white;
}


.room-name{
   width: 100vw;
   display: flex;
   height: 2rem;
   align-items: center;
   justify-content: center;
}
.rooms-list li:nth-child(2n+1){
   background-color: #ffdfdf;
}

.form-index{
   position: fixed;
   bottom: 0;
   display: flex;
   flex-direction: column;
   width: 100vw;
}
.form-index input{
   padding-left: 1rem;
   width: 100%;
}

.form-index p{
   width: 100%;
   box-shadow: 5px 0 .3em black;
   display: flex;
}
.form-index button{
   background-color: #0a90ff;
   min-height:2rem;
}

input,
input:active{
   outline: none;
}


@media (min-width: 700px) and (max-height : 700px){
   *{
      font-size: 30px;
   }

   .header{
      height: 2.5rem;
   }
   .header h1{
      font-size:2rem;
   }
   .form-index p {
      flex-direction: row;
   }
   .form-index input{
      padding-left: 1rem;
      width: 50%;
   }
   .rooms-list li{
      font-size: 1.5rem;
   }
}
