*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    max-width: 1100px;
    height: 100vh;
    overflow: scroll;
    margin: auto;
}

.container::-webkit-scrollbar{
    display: none;
}

/* Header Section starts */

.header-wraper{
    /* background-color: aquamarine; */
    width: 100%;
    height: 100vh;
    position: relative;
}

.header{
    /* background-color: blueviolet; */
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: transparent; */
    height: 3.5rem;
    width: 100%;
}

.header h1{
    font-size: 2rem;
    color: rgb(180, 180, 180);
    padding: 1.5rem;
    font-weight: 100;
}

.banner{
    height: 100%;
    color: rgb(235, 235, 235);
    /* background-color:darkgray; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://picsum.photos/500/500');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kural-source{
    position: absolute;
    bottom: 0;
    right: 0;
}
.kural-source a{
    color: rgb(252, 252, 252);
    font-size: small;
}

.scroll-down-msg{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: small;
    padding: .5rem;
}

.kural-wrapper{
    width: 100%;
    max-width: 95vw;
    height: 70vh;
    /* background-color: darkkhaki; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kural{
    width: 100%;
    max-width: 50ch;
}

.kural q{
    font-size: 2.5rem;
    font-weight: 100;
}

/* Header section ends */

/* listing section starts */

.list-header{
    width: 100%;
    height: 4rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-header h1{
    font-size:2rem;
}

.room-list-wrapper{
    /* height: 100vh; */
    /* background-color: aqua; */
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    flex-shrink: 1;
    gap: 1rem;
}

.room-card{
    width: 17rem;
    height: 15rem;
    display:flex;
    flex-direction: column;
    background-color: rgb(216, 214, 214);
}
.room-card:hover{
    background-color:rgb(204, 201, 201) ;
    cursor: pointer;
}
.room-card h1{
    height: 30%;
    font-size: 1.5rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-card p{
    height: 70%;
    margin: 1rem;
    margin-top: 0;
    margin-left: 2rem;
    display: -webkit-box;
    color: rgb(114, 114, 114);
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.create-room-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: rgb(114, 114, 114);
}

/* listing section ends */

/* footer section starts */

.footer{
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
    background-color: rgb(94, 94, 94);
    color: #fff;
}